html, body {
	margin-top: 35px;
}
.ccs-logo{
	width:45px;
	margin-top:-5px;
}
.ccs-navbar-text {
    margin-left: -5px;
    margin-top: 16px;
    font-size: 18px;
}
.navbar-ccs-form-group{
	margin-top: 2px;
}
.ccs-input {
	height: 30px;
}